version: "3.7"

services:
  server:
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.itsoup-organization.entrypoints=http"
      - "traefik.http.routers.itsoup-organization.rule=Host(`organization.itsoup.test`)"
      - "traefik.http.services.itsoup-organization.loadbalancer.healthcheck.path=/health-check"
      - "traefik.http.services.itsoup-organization.loadbalancer.healthcheck.interval=60s"
    networks:
      - web

  db:
    ports:
      - 33061:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: organization
    networks:
      - maintenance

networks:
  web:
    external: true
  maintenance:
    external: true
